# Project exclude paths
/untitled/target/
/untitled1_yingshe/target/
/untitled2_fenye/target/
/untitled3_zhujieandLombok/target/
/untitled4_duoduiyi/target/
/untitled5_yiduiduo/target/
/untitled6_dongtaiSQL/target/