<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="legend.dao.userdao">

<!--1-->



    <select id="GetuserBylimit" parameterType="map" resultType="legend.pojo.User">
    select *from user limit #{startindex} ,#{pagesize}
</select>




</mapper>